<%= render "layouts/errors", obj: @post %>
<div class="well">
<%= form_for @post do |f| %>
   <div class="control-group">
   <p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
   </p>

   <p>
      <div class="control-group">
   	<%= f.label :url %><br>
   	<%= f.text_field :url %>
   </div>
   </p>

   <p>
      <div class="control-group">
   	<%= f.label :description %><br>
   	<%= f.text_area :description, rows: 8 %>
   </div>
   </p>

   <p>
   	<%= f.submit "Create Post", class: "btn btn-primary" %>
   </p>
</div>
   <% end %>
</div>