<<%= render "layouts/errors", obj: @category %>

<div class='well'>
<%= form_for @category do |f| %>
<div class='control-group'>
   <p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</div>
   </p>

   <p>
   	<%= f.submit "Create category", class: "btn btn-success" %>
   </p>
   <% end %>
</div>