<% if @category.errors.any? %>
<h5> There were some errors </h5>
<ul>
   <div class='row'>
   <div class='alert alert-error span8'>
<% @category.errors.full_messages.each do |msg| %>
<li> <%= msg %>  </li>
<% end %>
</div>
</div>
</ul>
<% end %>

<div class='well'>
<%= form_for @category do |f| %>
<div class='control-group'>
   <p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</div>
   </p>

   <p>
   	<%= f.submit %>
   </p>
   <% end %>
</div>